body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;

    & .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        & .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--branco);
                padding: 1.2rem;

                & i {
                    font-size: 3rem;
                    color: var(--texto-cinza-escuro);
                }
            }

            & .nome {
                font-size: 2rem;
                color: var(--texto-cinza-escuro);
            }
        }

        & .acesse {
            font-size: 1.5rem;
            color: var(--texto-cinza-claro);
        }

        & form {
            background-color: var(--branco);
            width: 35%;
            border-radius: 1rem;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
            padding: 3rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            & .form-group {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: baseline;
                width: 100%;
                gap: 1rem;

                & label {
                    color: var(--texto-cinza-escuro);
                    font-size: 1.4rem;
                }

                & input {
                    border: 1px solid var(--input-cinza-claro);
                    border-radius: 1rem;
                    padding: 1rem;
                    width: 96%;
                }
            }

            & button {
                background-color: var(--cinza-escuro);
                border: none;
                padding: 1rem;
                border-radius: 1rem;
                color: var(--texto-branco);
                width: 100%;
                font-size: 1.7rem;
                cursor: pointer;
            }

            & p {
                font-size: 1.4rem;
                color: var(--texto-cinza-claro);

                & a {
                    color: var(--texto-cinza-escuro);
                    text-decoration: none;
                }
            }
        }

        & .voltar {
            font-size: 1.5rem;
            text-decoration: none;
            color: var(--texto-cinza-escuro);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}